@import "../../../styles/colors";
@import "../../../styles/sizes";
@import "../../../styles/fonts";
@import "../../../styles/breakpoints";

.datePicker {
  margin-left: $formElementLeft;
  text-align: center;

  h3 {
    margin-top: 0;
    padding-top: 0;

    @include smallBreakpoint() {
      text-align: left;
    }
  }

  @include customBreakpoint(650px) {
    margin-left: 0;
  }
}