@import "../../styles/sizes";
@import "../../styles/breakpoints";

.userInformationForm {
  fieldset {
    border: 0;
    padding: 0;
    margin: 0;
  }

  .gridBoxes,
  .gridFields {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: calc(#{$baseSize} * 2);
    margin-bottom: $baseSize;

    @include customBreakpoint(650px) {
      grid-template-columns: 100%;
    }
  }

  .gridBoxes {
    grid-template-columns: 50% 50%;
    margin-bottom: calc(#{$baseSize} * 2);

    @include customBreakpoint(650px) {
      grid-template-columns: 100%;
    }
  }
}
