$white: #fff;
$black: #000;
$grey200: #eeeeee;
$grey400: #D1D1D1;
$grey450: #c6c6c6;
$grey500: #8e8e8e;
$grey600: #707070;

$error: #a40303;
$primary: #C19663;
$primaryDark: #93764f;
$secondary: #1d96ff;
$pageBackground: $white;
$mainBackground: #F0F2F5;
