@import "../../../styles/colors";
@import "../../../styles/sizes";
@import "../../../styles/fonts";
@import "../../../styles/breakpoints";

.container {
  position: relative;

  .error svg {
    fill: $error;
  }
}
.field {
  display: inline-block;
  padding: $baseSize;
  font-size: 0.8rem;
  border: 1px solid $grey500;
  width: 100%;
  font-family: $fontPoppins;
  position: relative;

  .error & {
    border-color: $error;

    &::placeholder {
      color: $error;
    }
  }
}

.label {
  display: flex;
  align-items: center;

  &:not(:first-child) {
    margin-top: $baseSize;
  }
}