@import "../../../styles/colors";
@import "../../../styles/sizes";

.box {
  position: relative;
  background: $pageBackground;
  box-shadow: 0 0 10px $grey500;
  padding: $baseSize;
  margin: $baseSize;
  border-radius: 5px;
  overflow: hidden;
}