@import "../../styles/scrollbar";
@import "../../styles/fonts";
@import "../../styles/colors";
@import "../../styles/sizes";

.main {
  font-family: $fontHelvetica;
  margin: 0 auto;
  width: $appSize;
  cursor: default;
  padding: 15px;
  box-shadow: 0 0 $baseSize rgba($black, .2);
  background: $white;

  @include largeBreakpoint() {
    width: 100%;
  }

  h1 {
    text-align: center;
    font-family: $fontPoppins;
    margin: 0;
    padding: 0 0 $baseSize 0;
    color: $grey600;
    font-size: 1.5rem;
  }
}
